@media(max-width:1250px){
    .wrap{
        width: 90%;
        margin: 0px auto;
    }
    .card{
        width: 17%;
        margin: 1.5%;
    }
    #articles{
        width: 65%;
    }
    #articles article {
        width: 97%;
    }
    #footer > .wrap > div {
        width: 25%;
    }
    #footer #browser img {
        width: 34px;
    }
}